body {
  font: 18px;
  color: #333;
}

body #root .navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  top: 0;
  background: #0000004d;
}

body #root .navbar .collapse,
body #root .navbar .navbar-toggler {
  z-index: 998;
}

body #root .navbar a.nav-link {
  color: #fff;
  padding: 0.1em;
  margin-right: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

body #root .navbar a.nav-link:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

body #root .navbar .glossOver {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 0;
}

body #root footer {
  color: #fff;
}

body #root footer > div {
  padding: 3em 0em;
}

body #root footer > div a {
  color: #fff;
}

body #root .Education .tick {
  max-width: 150px;
  margin: auto;
  display: inherit;
}

body #root .infoCard {
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

body #root .infoCard:hover {
  -webkit-box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.35);
}

body #root .userDetails button {
  padding: 0.5em 1.5em;
  min-width: 120px;
  font-size: 16px;
  background: #432dff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

body #root .min-height-100vh {
  min-height: 100vh;
  height: 100%;
}

body #root .max-width-170px {
  max-width: 170px;
  width: 100%;
}

body #root .border-radius-5 {
  border-radius: 5px;
}

body #root .margin-top-120px {
  margin-top: 120px;
}

body #root .margin-top-84px {
  margin-top: 84px;
}

body #root .margin-top-48px {
  margin-top: 48px;
}

body #root .margin-top-64px {
  margin-top: 64px;
}

body #root .margin-bottom-84px {
  margin-bottom: 84px;
}

body #root .margin-bottom-64px {
  margin-bottom: 64px;
}

body #root .margin-bottom-48px {
  margin-bottom: 48px;
}

body #root .margin-bottom-42px {
  margin-bottom: 42px;
}

body #root .margin-bottom-36px {
  margin-bottom: 36px;
}

body #root .margin-bottom-28px {
  margin-bottom: 28px;
}

body #root .padding-bottom-84px {
  padding-bottom: 84px;
}

body #root .padding-verticle-84px {
  padding-top: 84px;
  padding-bottom: 84px;
}

body #root .v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body #root .bg-shadow-up {
  box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.65);
}

body #root .bg-purple-grad {
  background: #432dff;
  background: radial-gradient(circle, #432dff 36%, #350299 100%);
}

body #root .width100 {
  width: 100%;
}

body #root .btn {
  padding: 0.75rem 1.5rem;
}

body #root h1 {
  font-size: 4em;
  font-weight: bold;
}

body #root p {
  font-size: 1.12em;
}

body #root .home-bg-hero {
  background-image: url("/Assets/Images/2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  min-height: 600px;
}
