.budgetControl{

    .titles{
        border-bottom: 1px solid #cacaca;
        font-weight: bold;
        .row{
            >div {
                padding:1em;
                font-size: 1em;
            }
            >div:first-of-type{
                text-align: right;
                border-right: 1px solid #cacaca;
            }
        }
    }

    .chart{
        .row{
            border-bottom: 1px solid #cacaca;
            font-weight: 600;
            
            .name{
                text-align: right;
                border-right: 1px solid #cacaca;
            }
            .value{
                text-align: left;
            }

            &.positive{
                color:$primary-color;
            }

            &.negative{
                color:#bf0404;
            }   

            >div {
                padding:1em;
            }
        }
        >div:nth-of-type(odd){
            .name, .value{
                background: #eaeaea;
            }
        }
    }

    .totals{
        .row{
            .name{
                text-align: right;
                font-weight: bold;
            }
            .value{
                text-align: left;
                font-weight: bold;

                &.positive{
                    color:$primary-color;
                }
    
                &.negative{
                    color:#bf0404;
                }    

            }

            >div {
                padding:1em;
            }
            >div:first-of-type{
                text-align: right;
                border-right: 1px solid #cacaca;
            }
        }
    }
}