.Education {

    .tick {
        max-width: 150px;
        margin: auto;
        display: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        opacity: 0.9;
        transform: translateY(-50%);
       }
    }