
.eduCard {

    p{
        max-width:550px;
    }  

    &:not(.closed){
        .row:last-of-type{
            position: relative;
            top: -40px;   

            button{
                position: relative;
                bottom: -30px;
            }
           }
    }

    transition: 0.3s all ease-in-out;
    &:hover {
        -webkit-box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.35);
    }

    .tick {
        max-width: 150px;
        margin: auto;
        display: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        opacity: 0.9;
        transform: translateY(-50%);
       }

       @media screen and (max-width:600px){
        max-width: 90%;
        width:100%;
       }
}

