$font-size: 18px;
$primary-color: #333;

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2{
    font-weight: bold;
}

p {
    font-size: 1.12em;
}

.font-normal{
    font-weight:normal;
}

.font-bold{
    font-weight:bold;
}

// mixin to create utility classes for font sizes ranging from 1 - 80px 
$maxCount: 80;
@for $i from 1 through $maxCount {
	.font-size-#{$i}px {
		font-size: #{$i}px;
	}
}