footer {
    background:#1f1f1f;
    color: #fff;
    > div {
        padding: 3em 0em;

        h5{
            font-weight: bold;
            font-size: 1.5em;
        }
        
        ul {
            margin-top:1em;
            > li{
                margin-bottom:0.5em;
            
                a {
                    display:block;
                    color: #fff;
                }
    
                a:hover{
                    color:#fff !important;
                    font-weight: bold;
                    text-decoration: none;
                }
        
                a:focus{
                    outline:2px dashed #fff !important;
                    outline-offset: 1px;
                }
            }

        } 


    }

    .copyright{
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding-top:1.5em;
    }
}