
.hero {
	background-image: url("/Assets/Images/2.webp");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	object-fit: fill;

	:focus{
		outline:2px dashed #fff !important;
		outline-offset: 1px;
	}

	@media screen and (min-width:992px){
		margin-bottom: 32px;
	}
}