
$maxCount: 120;

@for $i from 0 through $maxCount {
	.margin-#{$i}px{
		margin: #{$i}px;
	}

	.margin-top-#{$i}px {
		margin-top: #{$i}px;
	}

	.margin-bottom-#{$i}px {
		margin-bottom: #{$i}px;
	}

	.margin-left-#{$i}px {
		margin-top: #{$i}px;
	}

	.margin-right-#{$i}px {
		margin-bottom: #{$i}px;
	}

	.margin-verticle-#{$i}px {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.margin-horizontal-#{$i}px {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}
	
	//PADDING
	.padding-#{$i}px{
		padding: #{$i}px;
	}

	.padding-top-#{$i}px {
		padding-top: #{$i}px;
	}

	.padding-bottom-#{$i}px {
		padding-bottom: #{$i}px;
	}

	.padding-left-#{$i}px {
		padding-top: #{$i}px;
	}

	.padding-right-#{$i}px {
		padding-bottom: #{$i}px;
	}

	.padding-verticle-#{$i}px {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}

	.padding-horizontal-#{$i}px {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}

}

.v-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.bg-shadow-up {
	box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px -12px 13px -9px rgba(0, 0, 0, 0.55);
}

.bg-purple-grad {
	background: rgb(67, 45, 255);
	background: radial-gradient(
		circle,
		rgba(67, 45, 255, 1) 36%,
		rgba(53, 2, 153, 1) 100%
	);
}

.border-radius-5 {
	border-radius: 5px;
}

.width100 {
	width: 100%;
}

.min-height-100vh {
	min-height: 100vh;
	height: 100%;
}

.max-width-170px {
	max-width: 170px;
	width: 100%;
}

.max-width-185px {
	max-width: 185px;
	width: 100%;
}

.max-width-250px{
	max-width:250px
}

.invisible{
	visibility: 0;
}

.margin-auto{
	margin: auto;
    display: block;
}

:focus{
	outline:2px dashed #000 !important;
	outline-offset: 1px;
	box-shadow: none !important;
}

.card{
	img{
		max-height:140px;
	}

}

.mobile{
	display: none;
}

.desktop{
	display:block;
}

@media screen and (max-width:991px){
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}
}